@import url('https://fonts.googleapis.com/css2?family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap');

* {
  font-family: "Winky Sans", sans-serif; /* ✅ Apply globally */
  font-optical-sizing: auto;
  font-style: normal;
}

.drawer{
  background-image: radial-gradient(circle at 30% 30%, #30475E, #0D1B2A);
}