
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}


body {
    background: linear-gradient(to right, #74ebd5, #9face6);
    display: flex;
    /* height: 110vh; */
    justify-content: center;
    align-items: center;
}


.heading {
    font-size: 2rem;
    color: #ffffff;
    font-weight: 600;
    margin-bottom: 2rem;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);

}


.button-container {
    display: flex;
    justify-content: center;
}


.get-started-button {
    padding: 12px 30px;
    font-size: 1.2rem;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    color: #fff;
    background: linear-gradient(135deg, #007bff, #00c6ff);
    transition: all 0.3s ease-in-out;
    box-shadow: 0 4px 6px rgba(0, 123, 255, 0.3);
    margin-top: 2rem;
}

.get-started-button:hover {
    background: linear-gradient(135deg, #0056b3, #0099ff);
    box-shadow: 0 6px 10px rgba(0, 123, 255, 0.4);
    transform: translateY(-3px);
}


@media (max-width: 768px) {
    .container {
        width: 90%;
        padding: 2rem;
    }
    
    .heading {
        font-size: 1.8rem;
    }

    .get-started-button {
        font-size: 1rem;
        padding: 10px 20px;
    }
}


.auth-heading {
    font-size: 1.5rem;
    font-weight: bold;
    margin:1rem;
}

.auth-form {
    display: flex; 
    flex-direction: column; 
    margin-top: 1.5rem;
    gap: 16px; 
}

.auth-input {
    width: 100%;
}

.auth-button {
    width: 100%;
    padding: 12px;
    font-weight: bold;
    margin-top: 16px; 
}

.auth-toggle {
    margin-top: 10px;
    text-transform: none;
}


.auth-container {
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(20px);
}
